

#heading{
    text-align: center;
    font-weight: 600;
    font-size:175%;
    
}

#title{
    float:right;
    position: relative;
    background-color: red;
    font-size:125%;
    border:1px solid black;
    box-sizing: border-box;
    margin-top:0;
    width:100px;
    text-align:center;
}

#title-2{
    float:right;
    position: relative;
    background-color:orange;
    font-size:125%;
    border:1px solid black;
    box-sizing: border-box;
    margin-top:0;
    width:100px;
    text-align:center;
}

#title-3{
    float:right;
    position: relative;
    background-color:greenyellow;
    font-size:125%;
    border:1px solid black;
    box-sizing: border-box;
    margin-top:0;
    width:100px;
    text-align:center;
}

.container{
  
    background-color: aqua;
    padding:0;
    margin-left:20px;
    margin-top:30px;
    width: 30%;
    position: relative;
    border:1px solid black;
    box-sizing: border-box;
}

.box-2
    {
  
        background-color: aqua;
        padding:0;
        margin-top:30px;
        width: 30%;
        position: relative;
        border:1px solid black;
        box-sizing: border-box;
        bottom: 190px;
        left:450px;
    }

    .box-3
    {
  
        background-color: aqua;
        padding:0;
        margin-top:30px;
        width: 30%;
        position: relative;
        border:1px solid black;
        box-sizing: border-box;
        bottom: 380px;
        left:890px;
    }

p{
    margin-top:50px;
    margin-left:10px;
}




          /*TABLET*/
@media (min-width:768px) and (max-width:991px){ 
    .container{
  
        background-color: aqua;
        padding:0;
        margin-left:20px;
        margin-top:30px;
        width: 40%;
        position: relative;
        border:1px solid black;
        box-sizing: border-box;
        left:20px;
    }
    
    .box-2
        {
      
            background-color: aqua;
            padding:0;
            margin-top:30px;
            width: 40%;
            position: relative;
            border:1px solid black;
            box-sizing: border-box;
            bottom:220px;
            left:410px;
        }
    
        .box-3
        {
      
            background-color: aqua;
            padding:0;
            margin-top:30px;
            width: 95%;
            position: relative;
            border:1px solid black;
            box-sizing: border-box;
            bottom:170px;
            left:20px;
           
        }  
}


            /*MOBILE*/

@media (max-width:767px) { 
    .container{
  
        background-color: aqua;
        padding:0;
        margin-left:20px;
        margin-top:30px;
        width: 70%;
        position: relative;
        border:1px solid black;
        box-sizing: border-box;
       left:40px;
    }
    
    .box-2
        {
      
            background-color: aqua;
            padding:0;
            margin-top:30px;
            width: 70%;
            position: relative;
            border:1px solid black;
            box-sizing: border-box;
            left:60px;
            bottom:10px;
        }
    
        .box-3
        {
      
            background-color: aqua;
            padding:0;
            margin-top:30px;
            width: 70%;
            position: relative;
            border:1px solid black;
            box-sizing: border-box;
            left:60px;
            bottom:10px;
           
        }  
}
